<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="padding: 10px">

    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <span>  |  </span>
        <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a>
        <span>  |  </span>
        <a asp-controller="Home" asp-action="MovieForm">Fill out a Movie Form</a>
        <span>  |  </span>
        <a asp-controller="Home" asp-action="WaitList">View Movie Forms</a>
    </nav>


    <div>
        @RenderBody()
    </div>



</body>
</html>
