@{
    ViewData["Title"] = "Movie Form Submitted";
}

@model MovieApp.Models.ApplicationResponse

<br />
<br />

<h2> The Movie Form has been received. Thank you. </h2>

<br />
<br />

<h3>@Model.Title will be added to the database. </h3>