@{
    ViewData["Title"] = "Movie App";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>
        Welcome to the Joel Hilton Film Collection! A place to keep track of the all Joel's recently watched movies. 
    </p>
</div>

<img height="400" src="~/img/JoelHiltonHeadshot.jpg" />



